<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta</title>
</head>
<body>
    <h1 class="title">Consulta</h1>
    <div class="content">
        <h2>Escolha o formato do arquivo para consultas abaixo.</h2>
        <div class="option-container">
            <a href="csv/">CSV</a>
            <a href="json/">JSON</a>
            <a href="xlsx/">XLSX</a>
        </div>
        <div class="img-container"></div>
    </div>
</body>
</html>