<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro e Consulta</title>
</head>
<body>
    <nav id="nav-menu">
        <a href="#">Cadastro</a>
        <a href="#">Consulta</a>
    </nav>
    <div class="content">
        <h1 class="title">Cadastro de Usuário</h1>
        <div class="formContainer">
            {% if success == True %}
                <div class="greenbox">
                    <h2 class="infotext">Cadastro concluído!</h2>
                </div>
            {% endif %}
            {% if errName == True %}
                <p class="errorText">* Nome de usuário inválido!</p>
            {% endif %}
            {% if errDate == True %}
                <p class="errorText">* Data inválida!</p>
            {% endif %}
            <form id="cadForm" method='POST'> {% csrf_token %}
                <label for="usuario">Usuário</label>
                <input type="text" name="usuario" id="usuario" placeholder="Seu nome de usuário">
                <label for="senha">Senha</label>
                <input type="password" name="senha" id="senha" placeholder="Sua senha">
                <p class="tip">Caso não forneça uma senha, Geraremos uma para você!</p>
                <label for="nasc">Data de Nascimento</label>
                <input type="date" name="nasc" id="nasc">
                <button type='submit' class='btn'>Confirmar</button>
            </form>
        </div>
    </div>
</body>
</html>